name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --frozen-lockfile
        working-directory: client

      - name: Run ESLint
        run: yarn lint
        working-directory: client

      - name: Check code formatting
        run: yarn format:check
        working-directory: client

      - name: Typescript type check
        run: yarn typecheck
        working-directory: client

      - name: Build Spaza Link
        run: yarn build
        working-directory: client
